@import "tailwindcss";

@theme {
  /* color custom */
  --color-green-custom: #193b3a;
  --color-orange-custom: #ff0000;
  --color-yellow-custom: #ecc504;

  /* container custom */
  --container-main: 1200px;
  /* font custom */

  --font-inter: var(--font-inter);
  --font-libre-baskerville: var(--font-libre);
}
